/*
    This file is part of keks-meet (https://codeberg.org/metamuffin/keks-meet)
    which is licensed under the GNU Affero General Public License (version 3); see /COPYING.
    Copyright (C) 2022 metamuffin <metamuffin@disroot.org>
*/
.chat {
    position: fixed;
    z-index: 70;

    right: 1em;
    bottom: 5em;

    width: min(30em, 50vw);
    height: min(50em, 70vh);

    background-color: var(--bg);
    border-radius: 1em;
    padding: 2em;
}

.chat .message {
    margin: 0.2em;
}
.chat .author {
    font-weight: bold;
}
.chat .text {
    color: white;
}
.chat .image {
    width: min(20em, 30vw);
    max-height: 50em; /* TODO squishes the image if too high */
}

.chat .messages {
    height: calc(100% - 3em);
    width: 100%;
    overflow: scroll;
}
.chat .controls {
    padding: 1em;
}
.chat input {
    font-size: x-large;
    width: 100%;
}
