/*
    This file is part of keks-meet (https://codeberg.org/metamuffin/keks-meet)
    which is licensed under the GNU Affero General Public License (version 3); see /COPYING.
    Copyright (C) 2022 metamuffin <metamuffin@disroot.org>
*/
@import url("https://s.metamuffin.org/static/font-ubuntu/include.css");
@import url("./logger.css");
@import url("./chat.css");
@import url("./room.css");
@import url("./prefs.css");
@import url("./menu.css");

* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: white;
    margin: 0px;
    padding: 0px;
}

:root {
    --bg: #151315;
    --bg-dark: #070707;
    --ac: #5e3f84;
    --ac-light: #7c43bd;
    --ac-dark: #12005e;
}

body {
    background-color: var(--bg-dark);
    height: 100vh;
    width: 100vw;
    justify-content: left;
}

h2 {
    font-weight: 700;
    margin: 1em;
}

input[type="button"],
button {
    padding: 0.5em;
    margin: 0.25em;
    background-color: var(--ac);
    border: 0px solid transparent;
    border-radius: 3px;
}
input[type="button"]:hover,
button:hover {
    filter: brightness(130%);
}
input[type="button"].active,
button.active {
    filter: hue-rotate(20deg);
}
input[type="text"],
select,
input[type="number"] {
    background-color: var(--bg-dark);
    border: 1px solid var(--ac-light);
}
input:disabled,
button:disabled {
    filter: sepia(90%);
}

.start-box {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.start-box p {
    margin-bottom: 0.5em;
}
.start-box input[type="text"] {
    margin: 0.5em;
    font-size: xx-large;
}
.start-box input[type="button"] {
    margin: 0.5em;
    font-size: x-large;
    width: calc(100% - 1em);
}
