/*
    This file is part of keks-meet (https://codeberg.org/metamuffin/keks-meet)
    which is licensed under the GNU Affero General Public License (version 3); see /COPYING.
    Copyright (C) 2022 metamuffin <metamuffin@disroot.org>
*/


.bottom-menu {
    background-color: var(--bg);
    padding: 0.5em;
    position: fixed;
    bottom: 0.5em;
    border: 0px solid transparent;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.menu-br {
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: block;
    text-align: right;
}
.menu-br .version {
    font-size: medium;
    font-weight: bold;
    color: var(--ac-light);
    padding: 0.5em;
}
