/*
    This file is part of keks-meet (https://codeberg.org/metamuffin/keks-meet)
    which is licensed under the GNU Affero General Public License (version 3); see /COPYING.
    Copyright (C) 2022 metamuffin <metamuffin@disroot.org>
*/
.prefs-overlay {
    position: fixed;
    z-index: 80;

    left: 50%;
    bottom: 5em;
    transform: translateX(-50%);

    width: min(50em, 80vw);
    height: min(40em, 60vh);

    background-color: var(--bg);
    border-radius: 1em;
    padding: 2em;
    overflow-y: auto;
}
