/*
    This file is part of keks-meet (https://codeberg.org/metamuffin/keks-meet)
    which is licensed under the GNU Affero General Public License (version 3); see /COPYING.
    Copyright (C) 2022 metamuffin <metamuffin@disroot.org>
*/
.room {
    overflow-y: scroll;
}

.user {
    background-color: var(--bg);
    border: 0px solid transparent;
    border-radius: 5px;
    padding: 1em;
    margin: .5em;
    vertical-align: top;
    min-width: fit-content;
    height: 13em;
    display: inline-block;
    position: relative;
}

.user .info .name {
    font-weight: 400;
}
.user.local .info .name {
    text-decoration: underline;
}
.user .info {
    margin-bottom: 1em;
}

.user .resource {
    display: inline-block;
    vertical-align: top;
}

.media {
    max-height: 9em;
    border: 0px solid transparent;
    border-radius: 5px;
}

.local-controls {
    display: inline;
}
.local-controls::before {
    content: "|";
}
